# -*- mode: ruby -*-
# vi: set ft=ruby :

# All Vagrant configuration is done below. The "2" in Vagrant.configure
# configures the configuration version (we support older styles for
# backwards compatibility). Please don't change it unless you know what
# you're doing.
Vagrant.configure("2") do |config|
  # Change the IP to anything between the range of IP address you have
  # configured in virtualbox > Host Network Manager network adapter.
  ENV_IP = "192.168.56.100"

  # The most common configuration options are documented and commented below.
  # For a complete reference, please see the online documentation at
  # https://docs.vagrantup.com.

  # Every Vagrant development environment requires a box. You can search for
  # boxes at https://vagrantcloud.com/search.
  config.vm.box = "ubuntu/bionic64"

  # Disable automatic box update checking. If you disable this, then
  # boxes will only be checked for updates when the user runs
  # `vagrant box outdated`. This is not recommended.
  # config.vm.box_check_update = false

  # SSH port
  # config.ssh.port = 2220
  # # The port on the guest that SSH is running on
  # config.ssh.guest_port = 22

  # Create a forwarded port mapping which allows access to a specific port
  # within the machine from a port on the host machine. In the example below,
  # accessing "localhost:8080" will access port 80 on the guest machine.
  
  # Create a private network, which allows host-only access to the machine
  # using a specific IP.
  config.vm.network "private_network", ip: ENV_IP

  # Create a public network, which generally matched to bridged network.
  # Bridged networks make the machine appear as another physical device on
  # your network.
  # config.vm.network "public_network"

  # Share an additional folder to the guest VM. The first argument is
  # the path on the host to the actual folder. The second argument is
  # the path on the guest to mount the folder. And the optional third
  # argument is a set of non-required options.
  ## *Vagrant is currently configured to create VirtualBox synced folders with
  # the `SharedFoldersEnableSymlinksCreate` option enabled. If the Vagrant
  # guest is not trusted, you may want to disable this option. For more
  # information on this option, please refer to the VirtualBox manual:
  # 
  # https://www.virtualbox.org/manual/ch04.html#sharedfolders
  # 
  # This option can be disabled globally with an environment variable:
  # 
  # VAGRANT_DISABLE_VBOXSYMLINKCREATE=1
  # 
  # or on a per folder basis within the Vagrantfile:';'
  # config.vm.synced_folder '/host/path', '/guest/path', SharedFoldersEnableSymlinksCreate: false

  # Set box hostname
  config.vm.hostname = "my.new.app"

  # Provider-specific configuration so you can fine-tune various
  # backing providers for Vagrant. These expose provider-specific options.
  # Example for VirtualBox:
  #
  config.vm.provider "virtualbox" do |vb|
    # The name of the vm as displayed in VirtualBox interface
    vb.name = "myapp ~ env"
    # Customize the amount of memory on the VM:
    vb.memory = "1024"
    # Update default network interface card for security reason.
    # vb.default_nic_type = "82543GC"
    # Sets max CPU usage on the host
    vb.customize ["modifyvm", :id, "--cpuexecutioncap", "20"]
  end
  #
  # View the documentation for the provider you are using for more
  # information on available options.

  # Enable provisioning with a shell script.
  # config.vm.provision "shell", path: ".config/after.sh"
  config.vm.provision "shell", path: ".config/install-docker-ce.deb.sh", env: {"ENV_IP" => ENV_IP}
end
